<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .movie-form-error {
        color: red;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
  <form action="#" th:action="@{/app/movies}" th:object="${movie}" method="post">
      <label th:text="#{movie.title}" />
      <input type="text" th:field="*{title}" />
      <p th:if="${#fields.hasErrors('title')}" th:errorclass="movie-form-error" th:errors="*{title}" /> <br />
      <label th:text="#{movie.genre}" />
      <input type="text" th:field="*{genre}" />
      <p th:if="${#fields.hasErrors('genre')}" th:errorclass="movie-form-error" th:errors="*{genre}" /> <br />
      <label th:text="#{movie.ratings}" />
      <input type="number" step="0.1" maxlength="3" min="0" max="10" th:field="*{ratings}"/><br/>
      <label th:text="#{movie.image}" />
      <input type="text" th:field="*{image}"><br />
      <input type="hidden" th:field="*{id}" />
      <input type="submit" th:value="#{action.save}" />
  </form>
</body>
</html>